body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: purple;
  margin: 0;
}


.bubble {
  position: absolute;
  bottom: -200px;
}

.bubble > div{
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, purple 0%, plum 100%);;
  border-radius: 100%;
}

.specular {
  height: 10%;
  width: 22%;
  position: relative;
  left: 14%;
  top: 18%;
  transform: rotate(-45deg);
  background-color: white;
  border-radius: 100%;
}

@keyframes wobble {
  0% {
    transform: translateX(0px);
    animation-timing-function: cubic-bezier(.5,1,.5,1);
  }

  25% {
    transform: translateX(-20px);
    animation-timing-function: cubic-bezier(.5,0,.5,0);
  }

  50% {
    transform: translateX(0px);
    animation-timing-function: cubic-bezier(.5,1,.5,1);
  }

  75% {
    transform: translateX(20px);
    animation-timing-function: cubic-bezier(.5,0,.5,0);
  }
}

@keyframes rise {
  100% {
    transform: translateY(-120vh) scale(0.3);
    opacity: 0.3;
  }
}
