body {
  margin: 0;
  font-family: "Baumans", cursive;
  overflow: hidden;
  font-weight: bolder;
  font-size: 40px;
  color: #333333;
}

.container {
  display: flex;
  justify-content: center;
}

#logo {
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 0 0 20px 20px;
  padding: 0 10px;
  font-size: 50px;
}

.player-bar {
  z-index: 10;
  height: fit-content;
}

.player-bar * {
  margin: 0 20px;
}

#left-bar {
  border-bottom-left-radius: 100px;
  border-right: none;
  margin-right: -7px;
  padding-left: 10px;
}

#right-bar {
  border-bottom-right-radius: 100px;
  border-left: none;
  margin-left: -7px;
  padding-right: 10px;
}

.background {
  border: solid 6px #AC8923;
  border-top: none;
  background-color: #F1C232;
}
